.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.dropdown {
  width: 256px;
  height: 400px;
  background-color: rebeccapurple;
}